# Core functionality - changes here should be rare!
/src/app.py                   @HlengYWamieH
/src/backend/database.py      @HlengYWamieH
/src/backend/routers/auth.py  @HlengYWamieH

# The frontend will need refactored soon to be more object oriented.
/src/static/   @HlengYWamieH
